body {
    margin: 0;
}

.logo {
    width: 140px;
    display: inline-block;
}

.title {
    height: 100px;
    display: inline;
    vertical-align: 35px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

.status-online {
    background-color: green;
}
