body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 120px;
    display: inline-block;
}

.container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.board {
    background-color: gray;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.chip {
    margin: 10px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
}

.chip-red {
    background-color: red;
}

.chip-blue {
    background-color: blue;
}
